#board-size {
  width: 50px;
  text-align: center;
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
}

.board-pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 0;
}
