#board-size {
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
  text-align: center;
  width: 50px;
}

#board {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
}

.board-pixel {
  border: 1px solid black;
  height: 38px;
  margin: 0;
  width: 38px;
}
